{% extends "AppCoder/base.html" %}
{% block titulo %} Listado de Juegos:  {{total_personas}} {% endblock %}
{% block base %}

<form>
    <p>
    <label for="criterio_nombre">Criterio de Busqueda de juegos:</label>
    <input type="text" name="criterio_nombre" maxlength="100" required="" id="criterio_nombre">
    </p>
    <p>
    <input type="submit" value="Agregar">
    </p>
</form>

<ul>
    {% for juegos in juego %}
        <li>{{juegos}}</li>
    {% endfor %}

</ul>
{% endblock %}

{% block title %} Juegos {% endblock %}